extend layouts/default

block content

	.container-fluid
		include includes/navbar
		.container
			.col-md-12
				h3 Job information
				br
				li Date added: #{job.dateAdded}
				li Posting as: #{job.postingAs}
				li Event name: #{job.eventName}
				li Date start: #{job.dateTime}							
				li Job duration: #{job.jobDuration}
				li Location: #{job.location}
				li Job description: #{job.description}
				li Use of photos: #{job.useOfPhotos[0]} #{job.useOfPhotos[1]} #{job.useOfPhotos[2]}
				li Date required: #{job.dateRequired}
				li Number of Photographers needed: #{job.noOfPhotographers}
				hr
			.col-md-12
				h3 Applicants
				br
				if job.applications
					each p in applicants
						.col-md-4
							.picture
								img(src="#{p.picture}" height="150" width="150")
							.details
								h5 #{p.firstName} #{p.lastName}
							.accept
								form(action="/job/accept" method="POST")
									input.btn.btn-default(type="submit" name="#{p.id}" value="Accept application")
							.profile
								a(href="/profile/" + p.id) See profile