extend layouts/noscripts

block content

	.container-fluid   
		include includes/navbar
		.container
			.row
				.col-md-12
					h1 Chat
				if data.chat.length != 0
					each chat in data.chat
						.col-md-12
							if profile.id === chat.sender
								.panel.panel-info
									.panel-heading #{profile.firstName} #{profile.lastName} | #{chat.time}
									.panel-body #{chat.message}
							else
								.panel.panel-success
									.panel-heading #{talkingTo.firstName} #{talkingTo.lastName} | #{chat.time}
									.panel-body #{chat.message}	
			.row
				.col-md-12
					.input-group-lg
						form.form-horizontal(role="form" action="/chat/{id*}" method="POST")
							input.form-control(type="text" name="chat" placeholder="Click here to type a chat message.")

	include includes/scripts
	include includes/enterKeypress