extend layouts/default

block content

	.container-fluid
		include includes/navbar
		.container
			.col-md-12
				h1 Current job
				.status
					h3 Status
					.progress
						.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%")
							p Just started bro
							
			.col-md-12
				h3 Job information
				br
				li Date added: #{job.dateAdded}
				li Posting as: #{job.postingAs}
				li Event name: #{job.eventName}
				li Date start: #{job.dateTime}							
				li Job duration: #{job.jobDuration}
				li Location: #{job.location}
				li Job description: #{job.description}
				li Use of photos: #{job.useOfPhotos[0]} #{job.useOfPhotos[1]} #{job.useOfPhotos[2]}
				li Date required: #{job.dateRequired}
				li Number of Photographers needed: #{job.noOfPhotographers}
				hr
			.col-md-12
				if p.usertype === "photographer"
					h3 Photographer
				else if p.usertype === "client"
					h3 Client
				.col-md-6
					.picture
						img(src="#{p.picture}" height="150" width="150")
				.col-md-6
					.details
					h5 #{p.firstName} #{p.lastName}
					.profile
						a.btn.btn-default(href="/profile/" + p.id) See profile
					br
					.chat
						form(role="form" action="/chat2/{id*}" method="POST")
							input.btn.btn-default(type="submit" name="#{p.id}" value="Chat with #{p.firstName}")