extend layout

block content

	.container-fluid   
		include navbar
		.row
			.left-dashboard.col-md-2
				a.btn.btn-primary(href="/newjob/step1") Post Job
				.past
					h4 Past Photographers
				.myfriends
					h4 Friends
				.mygroups
					h4 Groups
			.main-dashboard.col-md-7
				.myjobs 
					h2 My Jobs
					if jobs
						each job in jobs
							li Date added: #{job.dateAdded}
							li Posting as: #{job.postingAs}
							li Event name: #{job.eventName}
							li Date start: #{job.dateTime}							
							li Job duration: #{job.jobDuration}
							li Location: #{job.location}
							li Job description: #{job.description}
							li Use of photos: #{job.useOfPhotos[0]} #{job.useOfPhotos[1]} #{job.useOfPhotos[2]}
							li Date required: #{job.dateRequired}
							li Number of Photographers needed: #{job.noOfPhotographers}
							hr
			.right-dashboard.col-md-3
				.mynotif
					h3 Notifications