extend layouts/default

block content

	.container-fluid
		include includes/navbar
		.container
			.row
				.left-dashboard.col-md-2
					.myfriends
						h3 Friends
					.mygroups
						h3 Groups
					if profile.usertype == "client"
						.past
							h3 Past Photographers
						a.btn.btn-primary(href="/newjob") Post Job
						
				.main-dashboard.col-md-7
					.myjobs
						.row.white.rounded
							.col-md-12
								h3 Current jobs
								if jobs
									each job in jobs
										if job.status === "current"
											.col-md-12
												.panel.panel-warning
													.panel-heading 
														a.btn-btn-default(href="/job/current/" + job._id) See the progress
													.panel-body #{job.postingAs} | #{job.eventName} | #{job.location} | #{job.description}
						br
						.row.white.rounded
							.col-md-12
								h3 Jobs I have applied for
								if jobs
									each job in jobs
										if job.status === "awaiting"
											.col-md-12
												.panel.panel-warning
													.panel-heading 
														a.btn-btn-default(href="/job/" + job._id) Details
													.panel-body #{job.postingAs} | #{job.eventName} | #{job.location} | #{job.description}
						br
						.row.white.rounded
							.col-md-12
								h3 Past jobs
								p (do I need this in dashboard?)
								if jobs
									each job in jobs
										if job.status === "completed"
											.panel.panel-warning
												.panel-heading 
													a.btn-btn-default(href="/job/completed/" + job._id) Look into the past
												.panel-body #{job.postingAs} | #{job.eventName} | #{job.location} | #{job.description}
								
				.right-dashboard.col-md-3
					.mynotif
						h3 Notifications