extend layouts/default

block content

	.container-fluid   
		include includes/navbar
		.container
			.row.white.rounded
				.col-md-12.rounded.profile
					h1.profile Profile
					br
				.col-md-6.white.profilepicture
					img(src="#{profile.picture}" height="200" width="200")
				.col-md-6.white.details
					p First Name: #{profile.firstName}
					p Last Name: #{profile.lastName}
					p Email: #{profile.email}
					p Website: 
						a(href="#{profile.website}") #{profile.website}
					a.btn.btn-default(href="/profile/edit") Edit your profile
			br
			.row.white.rounded
				.col-md-12.rounded
					h3 Photo Gallery
					br
					if photos
						each photo in photos
							.photos.col-md-4
								img(src="#{photo.url}" class="photo_img")
								h5.photo-title #{photo.title}
								form.delete(action="/photo/delete" method="POST")
									input.btn.btn-default(type="submit" name="#{photo.name} #{photo.ext}" value="Delete photo?")
								br
					else
						a(href="/upload") Upload your first photo